<html>
	<head>
		<meta charset="utf-8">
		<title>Board</title>
		<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
		
		<script src="https://webdevchessgame.herokuapp.com/socket.io/socket.io.js"></script>
		<script type="module" src="Socket.js"></script>
	</head>
	<body>
		<div style="width: 560px; margin: auto;">
			<input id="id" name="id" value="<%= User.id %>" hidden> 
			<p>Wins: <%= User.wins %> Losses: <%= User.losses %></p>
			<canvas id="myCanvas" width="560" height="560" style="border:2px solid #696969;">Your browser does not support the HTML5 canvas tag.</canvas>
		</div>
	</body>
</html>
