<!DOCTYPE html>
<html lang="en">
	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Sign In</title>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="card" style="margin: auto; float: none; margin-top: 10%; width: 302px;">
			<div class="card-header">
				Create a new account
			</div>
			<div class="card-body">
				<form class="form-signin" method="post" action="newaccount">
					<div class="form-group">
						<label for="inputUsername" class="sr-only">Username</label>
						<input type="username" name="username" id="inputUsernameLogIn" class="form-control" placeholder="Create a username" required autofocus>
					</div>
					<div class="form-group">
						<input type="password" name="password1" id="inputPasswordNew" class="form-control" placeholder="Create a password" required>
						<input type="password" name="password2" id="inputPasswordNew2" class="form-control" placeholder="Confirm your password" required style="margin-top: 5px;">
					</div>
					<a href="Hi, Dr. Prather!" class="btn btn-outline-info" style="width: 184px;">Sign in to an account</a>
					<input type="hidden" name="action" value="newaccount" />
					<button class="btn btn-success submit-button" type="submit">Create</button>	
				</form>
			</div>
		</div>	
	</body>
</html>
