<!DOCTYPE html>
<html lang="en">
	<head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Sign In</title>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="card" style="margin: auto; float: none; margin-top: 10%; width: 320px;">
			<div class="card-header">Welcome</div>
			<div class="card-body">
				<form class="form-signin" method="post" action="login">
					<div class="form-group">Please pick a name for people to see</div>
					<div class="form-group">
						<input type="username" name="username" id="inputPasswordLogIn" class="form-control" placeholder="Password" required>
					</div>
					<div class="form-group">
						<button class="btn btn-success submit-button w-100" type="submit">Start</button>
					</div>
				</form>
			</div>
		</div>	
	</body>
</html>
